.header-part {
  height: 130px;
}
.header-part .options div {
  padding-top: 10px;
}
.header-part .font-awesome-icons div {
  width: 40px;
  height: 40px;
  background: blue;
  border-radius: 50%;
}
.header-part .font-awesome-icons i {
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.cover-photo {
  background-image: url('../images/cover.jpg');
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cover-photo .tags div {
  background-color: #1c315d;
  color: #fff;
  padding: 6px 10px;
  font-weight: bold;
}
.cards .card {
  height: 420px;
  padding: 30px;
  background: #fff;
  text-align: center;
  border: 1px solid #000;
}
.cards .card h3 {
  font-size: 26px;
  margin-top: -10px;
}
.cards .card img {
  width: 100%;
}
.cards .card-read-more {
  font-size: 20px;
  margin-top: 30px;
}
