/* Hover Button 1 */
.fb5 {
  background-color: #db6600;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  border: 1px solid #db6600;
  background-image: url(images/button_bg.jpg);
}
.fb5:hover {
  background-color: #000000;
  border: 1px solid #000000;
  background-image: url(images/button_bg_over.jpg);
}
